.vkuiSwitch__self:checked + .vkuiSwitch__pseudo:after {
  background: #ff3347;
}
.vkuiSwitch__self:checked + .vkuiSwitch__pseudo:before {
  background: #ff3347;
}
.vkuiButton__content {
  display: flex;
}
::-webkit-scrollbar {
  display: none;
}
.nav__button {
  border: 10px;
  padding-top: 0;
  padding-bottom: 0;
}

.nav__button:active {
  filter: brightness(0.8);
}

@media screen and (max-width: 600px) {
  .valentine__popup {
    width: 80%;
  }
}
.access__button:active {
  filter: brightness(0.8);
}
/* Loader.css */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin-bottom: 100px;
}

.loader {
  border: 8px solid #f3f3f3; 
  border-top: 8px solid #ff3448; 
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.arrow{
  background-image: url(../images/arrow.png);
  background-repeat: no-repeat;
}

