.vkuiSwitch__self:checked + .vkuiSwitch__pseudo:after {
  background: #ff3347;
}
.vkuiSwitch__self:checked + .vkuiSwitch__pseudo:before {
  background: #ff3347;
}
.vkuiButton__content {
  display: flex;
}
.nav__button {

  border: 10px;
  padding-top: 0;
  padding-bottom: 0;
}

.nav__button:active {
  filter: brightness(0.8);
}

.custom-notification {
    border-radius: 10px;
    position: relative;
    max-height: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: -200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff3448;
    color: white;
    opacity: 1;
    transition: opacity 0.7s ease, transform 0.7s ease;
  }
  
  .custom-notification.hidden {
    opacity: 0;
    transform: translateY(100%);
  }
  
  @media screen and (max-width: 600px) {
  .valentine__popup {
width: 80%;
  }
}