.vkuiProgress__in {
    background:  #FF3347 ;

}

.tutorial__button:active {
    filter: brightness(0.8); 
  }

  .tutorial__button{
    color: white;
    background-color: #FF3347;
  }

.hello__icon{
    background-image: url(../images/hello.svg);
    background-repeat: no-repeat;
    height: 60px;
    width: 60px;
    padding:0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-bottom: 20px;
}

@media screen and (max-width: 900px) {
    .tutorial__block{
        margin-top: 200px;
    }
}
